[color]
	ui = auto
[user]
	name = Kevin Mok
	email = mok.kevin11@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
[alias]
	ci = commit
	fork = push fork
[push]
	default = current
[fetch]
	prune = true
